<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Title</title>
    <link href="style.generated.css" rel="stylesheet">
</head>
<body>

<div class="flex flex-col items-center justify-center h-screen">
    <!-- Search Box -->
    <div class="bg-white p-4 rounded-md shadow-md mb-4">
        <input
                type="text"
                placeholder="Search..."
                class="w-64 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
        />
        <button class="px-4 py-2 bg-blue-500 text-white rounded-md ml-2">Search</button>
    </div>

    <!-- Three Columns -->
    <div class="grid grid-cols-3 gap-4">
        {% for coinpair in coinPairs.list %}

            <div class="bg-gray-200 p-4">
                <div> {{ coinpair.symbol }}</div>
                <div>ch: {{ coinpair.PriceChange }}</div>
                <div>Lo: {{ coinpair.LowPrice }}</div>
                <div>Hi: {{ coinpair.HighPrice }}</div>
            </div>
        {% endfor %}

    </div>
</div>
</body>
</html>